body {
background-color: lightgray;
font-family: inherit, sans-serif;
margin: 30px;
}
h1 {
color: black;
text-align: left;
margin-left: 3%;
}
h2 {
color: darkgray;
text-align: center;
}
p {
font-size: 16px;
line-height: 1.5;
color: #333;
}
section {
border: 1px solid #ccc;
margin-top: -9%;
margin-bottom: 10%;
margin-left: 25%;
text-align: center;
border-radius: 8px;
background: white;
}
ul {
list-style-type: square;
}
ol {
font-size: 20px;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
